<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.robobinding.gallery"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:name=".activity.GalleryApp"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat" >
        <activity
            android:name=".activity.GalleryActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.ViewActivity" >
        </activity>
        
        <activity android:name=".activity.EditTextActivity" >
        </activity>
        
        <activity android:name=".activity.ListViewActivity" >
        </activity>

        <activity android:name=".activity.AdapterViewActivity" >
        </activity>

        <activity android:name=".activity.CustomComponentActivity" >
        </activity>

        <activity android:name=".activity.TypedCursorActivity" >
        </activity>
        
        <activity android:name=".activity.DynamicBindingActivity" >
        </activity>
 
		<activity android:name=".activity.ByInterfaceNoAspectJActivity" >
        </activity>
        
		<activity android:name=".activity.BySubclassNoAspectJActivity" >
        </activity>
        
		<activity android:name=".activity.ListFragmentDemoActivity" >
        </activity>
        
		<activity android:name=".activity.ViewPagerActivity" >
        </activity>
        
		<activity android:name=".activity.OptionsMenuActivity" >
        </activity>
        
		<activity android:name=".activity.ContextMenuDemoActivity" >
        </activity>
        
		<activity android:name=".activity.ContextualActionModeActivity" >
        </activity>
                
	</application>

</manifest>